services:
  mongo:
    image: mongo:7
    container_name: mongodb
    volumes:
      - mongodb-data:/data/db
    ports:
    - "27017:27017"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - internal

  back:
    image: snowlly/projet_docker-back:latest
    container_name: back
    user: "1001:1001"
    environment:
      MONGO_URI: mongodb://mongo:27017/netflixlike
      PORT: 3000
      NODE_ENV: production
      PUID: 1001
      PGID: 1001
    depends_on:
      mongo:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:3000/health >/dev/null 2>&1 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - internal

  front:
    image: snowlly/projet_docker-front:latest
    container_name: front
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:3001/ >/dev/null 2>&1 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - internal

  cloudflared:
    image: cloudflare/cloudflared:2026.1.1
    command: tunnel --no-autoupdate --url http://caddy-public:80
    container_name: cloudflared
    user: "1001:1001"
    environment:
      - PUID=1001
      - PGID=1001
      - TZ=Europe/Paris
    networks:
      - internal
    restart: unless-stopped    

  caddy-private:
    image: caddy:2.10
    container_name: caddy-private
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    restart: unless-stopped
    depends_on:
      back:
        condition: service_healthy
      front:
        condition: service_healthy
    networks:
      - internal
      - private

  caddy-public:
    image: caddy:2.10
    container_name: caddy-public
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
    restart: unless-stopped
    depends_on:
      caddy-private:
        condition: service_started
    networks:
      - internal    

  tailscale:
    image: tailscale/tailscale:latest
    container_name: tailscale
    hostname: projet-docker
    environment:
      TS_AUTHKEY: ${TS_AUTHKEY}
      TS_STATE_DIR: /var/lib/tailscale
      TS_USERSPACE: "false"
    volumes:
      - tailscale_state:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    restart: unless-stopped
    networks:
      - public

volumes:
  mongodb-data:
  caddy_data:
  caddy_config:
  tailscale_state:

networks:
  internal:
    name: internal
  public:
    name: public
    external: true
  private:
    name: private
    external: true
  internet:
    name: internet
    external: true  
