services:
  mongo:
    image: mongo:7
    container_name: mongodb
    volumes:
      - mongodb-data:/data/db
    ports:
    - "27017:27017"
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - internal

  back:
    build:
      context: ./netnet
      dockerfile: src/back/Dockerfile
    container_name: back
    environment:
      MONGO_URI: mongodb://mongo:27017/netflixlike
      PORT: 3000
    depends_on:
      mongo:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:3000/health >/dev/null 2>&1 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - internal

  front:
    build:
      context: ./netnet/src/front
      dockerfile: Dockerfile
    container_name: front
    healthcheck:
      test: ["CMD-SHELL", "wget -qO- http://localhost:3001/ >/dev/null 2>&1 || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - internal

  caddy:
    image: caddy:2.10
    container_name: caddy
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    restart: unless-stopped
    depends_on:
      back:
        condition: service_healthy
      front:
        condition: service_healthy
    networks:
      - internal
      - public

  tailscale:
    image: tailscale/tailscale:latest
    container_name: tailscale
    hostname: projet-docker
    environment:
      TS_AUTHKEY: ${TS_AUTHKEY}
      TS_STATE_DIR: /var/lib/tailscale
      TS_USERSPACE: "false"
    volumes:
      - tailscale_state:/var/lib/tailscale
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    restart: unless-stopped
    networks:
      - public

volumes:
  mongodb-data:
  caddy_data:
  caddy_config:
  tailscale_state:

networks:
  internal:
    name: internal
  public:
    name: public
    external: true
