services:
  dockge:
    image: louislam/dockge:1
    container_name: dockge
    restart: unless-stopped
    ports:
      - "5001:5001"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/app/data
      - C:\Users\antoi\Desktop\cour\MASTER\DOCKER\Projet\stacks:/opt/stacks
    environment:
      - DOCKGE_STACKS_DIR=/opt/stacks
